<div id="layout">
    
    <div>
	<div> </div>
	<div> </div>
	<div> </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
       <div class="container">
          <div chat-bar />
       </div>
    </nav>
    <div chat-popup />
</div>


