<div>
    <p>iun text </p>
    <input type="button" value="Click me" ng-click="clickButton()"/>
    <div>
        <button id="connect" ng-click="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" ng-cick="disconnect();">Disconnect</button>
    </div>
    <div id="conversationDiv">
        <label>What is your name?</label><input type="text" id="name"/>
        <button id="sendName" ng-click="sendName();">Send</button>
        <p id="response"></p>
    </div>
</div>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chat</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                   <div class="col-xs-6 pull-left">
                        <div>
                            <div class="header">
                                <h4>Conversation history</h4>
                            </div>
                            <div>
                                <ul>
                                    <li ng-repeat="chatRow in data.conversations">
                                        <span class="username">{{chatRow.userId}}</span>
                                        <span class="content">{{chatRow.content}}</span>
                                        <input type="checkbox" ng-model="chatRow.isApproved"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 pull-right">
                        <div>
                            <div class="header">
                                <h4>Approved</h4>
                            </div>
                            <div>
                                <ul>
                                    <li ng-repeat="chatRow in data.approved">
                                        <span class="username">{{chatRow.userId}}</span>
                                        <span class="content">{{chatRow.content}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input type="text" placeholder="Enter your comment..." />
                </div>
            </div>
        </div>

    </div>
</div>